body {
    margin: 0;
}

canvas.grafo {
    position: fixed;
    width: calc(100% - 400px);
    height: 100%;
    top: 0;
    right: 400px;
    background-color: white;
}

div.menu {
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 8px 12px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.menu-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Impede os elementos de serem "esmagados" pela janela */
div.menu-flex > * {
    flex-shrink: 0;
}

span.titulo {
    font-weight: bold;
    font-size: 125%;
}

button.fluid {
    width: 100%;
}

button.spaced {
    margin: 4px 0;
}

div.vazio.fixo {
    height: 20px;
}

div.vazio.flex {
    flex-grow: 1;
}

div.copyright {
    color: #aaa;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    padding: 2px 8px;
    font-size: 80%;
}
