body {
    margin: 0;
}

canvas.grafo {
    position: fixed;
    width: calc(100% - 400px);
    height: 100%;
    top: 0;
    right: 400px;
    background-color: white;
}

div.menu {
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 8px 12px;
}

button.fluid {
    width: 100%;
}

button.spaced {
    margin: 4px 0;
}

div.vazio {
    height: 40px;
}

div.fundo {
    bottom: 8px;
    position: absolute;
    width: calc(100% - 24px);
}

div.copyright {
    color: #aaa;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    padding: 2px 8px;
    font-size: 80%;
}
