<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script defer src="../node_modules/hammerjs/hammer.js"></script>
    <script defer src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script defer src="index.js"></script>
</head>
<body>
    <canvas id="grafo" width="1024" height="768"></canvas>
    <div id="botoes">
        <button type="button" id="botao_abrir" class="fluid spaced waves-effect waves-light green btn" onclick="abrirGrafo();">Abrir grafo</button>
        <button type="button" class="fluid spaced waves-effect waves-light blue btn" onclick="devTools();">Abrir dev tools</button>
        <div class="vazio"></div>
        <div class="vazio"></div>
        <div class="input-field">
            <input type="text" id="grafo_v1" class="validate">
            <label for="grafo_v1">Vértice inicial</label>
        </div>
        <div class="input-field">
            <input type="text" id="grafo_v2" class="validate">
            <label for="grafo_v2">Vértice final</label>
        </div>
        <button type="button" class="fluid spaced waves-effect waves-light blue btn" disabled onclick="fazerDFS();">Realizar busca DFS <em>(depth-first)</em></button>
        <button type="button" class="fluid spaced waves-effect waves-light blue btn" disabled onclick="fazerBFS();">Realizar busca BFS <em>(breadth-first)</em></button>
        <button type="button" class="fluid spaced waves-effect waves-light blue btn" disabled onclick="testeIsConexo();">Testar conectividade</button>
        <div class="copyright">Copyright 2016 Marcelo e Ricardo</div>
    </div>
</body>
