<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/material-design-icons-iconfont/dist/material-design-icons.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script defer src="../node_modules/hammerjs/hammer.js"></script>
    <script defer src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script defer src="index.js"></script>
</head>
<body>
    <canvas class="grafo" id="grafo"></canvas>
    <a class="btn-floating  waves-light orange disabled" id="botao_limpar" style="position: absolute; bottom: 16px; right: 416px;" href="#" onclick="limparBusca()">
        <i class="material-icons">undo</i>
    </a>
    <div class="menu z-depth-1" id="botoes">
        <button type="button" id="botao_abrir" class="fluid spaced waves-effect waves-light green btn" onclick="abrirGrafo();">Abrir Grafo</button>
        <div class="vazio"></div>
        <div class="input-field">
            <select id="grafo_v1" disabled>
            </select>
            <label>Vértice inicial</label>
        </div>
        <div class="input-field">
            <select id="grafo_v2" disabled>
            </select>
            <label>Vértice final</label>
        </div>
        <button type="button" id="botao_dfs" class="fluid spaced waves-effect waves-light blue btn" disabled onclick="buscar(grafos.buscaDFS);">Realizar busca DFS <em>(depth-first)</em></button>
        <button type="button" id="botao_bfs" class="fluid spaced waves-effect waves-light blue btn" disabled onclick="buscar(grafos.buscaBFS);">Realizar busca BFS <em>(breadth-first)</em></button>
        <button type="button" id="botao_conexo" class="fluid spaced waves-effect waves-light blue btn" disabled onclick="testeIsConexo();">Testar conectividade</button>
        <div class="baixo">
            <button type="button" class="fluid spaced waves-effect waves-light blue btn" onclick="devTools();">Abrir dev tools</button>
        </div>
    </div>
    <div class="copyright">Trabalho de Grafos © 2016 Marcelo e Ricardo</div>
</body>
