body {
    margin: 0;
}

canvas#grafo {
    width: 100%;
    height: calc(100% - 80px);
    background-color: white;
}

div#botoes {
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    border-top: 1px solid #aaa;
    background-color: #eee;
    padding: 8px 12px;
}
