body {
    margin: 0;
}

canvas#grafo {
    position: fixed;
    width: calc(100% - 400px);
    height: 100%;
    top: 0;
    left: 400px;
    background-color: white;
}

div#botoes {
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid #aaa;
    padding: 8px 12px;
}

button.fluid {
    width: 100%;
}

button.spaced {
    margin: 4px 0;
}

div.vazio {
    height: 40px;
}

div.copyright {
    color: #999;
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    padding: 4px 2px;    
}
