body {
    margin: 0;
}

canvas#grafo {
    position: fixed;
    width: calc(100% - 400px);
    height: 100%;
    top: 0;
    left: 400px;
    background-color: white;
}

div#botoes {
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid #aaa;
    padding: 8px 12px;
}

div.vazio {
    height: 6px;
}
